.btn {
 width: 130px;
 height: 40px;
 font-size: 1.1em;
 cursor: pointer;
 background-color: #171717;
 color: #fff;
 border: none;
 border-radius: 5px;
 transition: all .4s;
}

.btn:hover {
 border-radius: 5px;
 transform: translateY(-10px);
 box-shadow: 0 7px 0 -2px #f85959,
  0 15px 0 -4px #39a2db,
  0 16px 10px -3px #39a2db;
}

.btn:active {
 transition: all 0.2s;
 transform: translateY(-5px);
 box-shadow: 0 2px 0 -2px #f85959,
  0 8px 0 -4px #39a2db,
  0 12px 10px -3px #39a2db;
}

.titulo
{
	background-color: ;
}

h1 {
	border: solid;
	border-color: #002B33;
	padding:20px 20px 20px 420px;
    
    

}

.menu {
	padding: 20px 20px 20px 320px;
}

.nav1{
	background-color:#005566;
	border:solid;

}
.nav2{
	background-color:#005566;
	border:solid;
}

.caja1 img
{
	width: 250px;
	height:250px;
    object-position:center; ;
    border: solid;
    margin: 50px 50px 50px 550px;
    display: block;

    
}


 .info
  {
	font-family: 'Sevillana', cursive;
    

padding: 20px 20px 20px 500px;


}


.contac
  {
	font-family: 'Playfair Display SC', serif;
font-family: 'Sevillana', cursive;

padding: 20px 20px 20px 500px;


}

.exp
  {
	font-family: 'Playfair Display SC', serif;
font-family: 'Sevillana', cursive;

padding: 20px 20px 20px 100px;


}

.edu
  {
	font-family: 'Playfair Display SC', serif;
font-family: 'Sevillana', cursive;

padding: 20px 20px 20px 350px;


}


.inicio
  {
	font-family: 'Playfair Display SC', serif;
    
padding: 20px 20px 20px 20px;


}


.pres
  {
	font-family: 'Playfair Display SC', serif;
font-family: 'Sevillana', cursive;

padding: 20px 20px 20px 20px;


}

.btn1 {
	padding: 20px 20px 20px 620px;
}

.btn {
 width: 130px;
 height: 40px;
 font-size: 1.1em;
 cursor: pointer;
 background-color: #171717;
 color: #fff;
 border: none;
 border-radius: 5px;
 transition: all .4s;
}

.btn:hover {
 border-radius: 5px;
 transform: translateY(-10px);
 box-shadow: 0 7px 0 -2px #f85959,
  0 15px 0 -4px #002B33,
  0 16px 10px -3px #002B33

.btn:active {
 transition: all 0.2s;
 transform: translateY(-5px);
 box-shadow: 0 2px 0 -2px #f85959,
  0 8px 0 -4px #002B33,
  0 12px 10px -3px #002B33;
}

.titulo
{
	background-color: ;
}

h1 {
	border: solid;
	border-color: #002B33;
	padding:20px 20px 20px 420px;
    
    

}

.menu {
	padding: 20px 20px 20px 320px;
}

.nav1{
	background-color:#005566;
	border:solid;

}
.nav2{
	background-color:#005566;
	border:solid;
}

.caja1 img
{
	width: 250px;
	height:250px;
    object-position:center; ;
    border: solid;
    margin: 50px 50px 50px 550px;
    display: block;

    
}


 .info
  {
	font-family: 'Sevillana', cursive;
    

padding: 20px 20px 20px 500px;


}


.contac
  {
	font-family: 'Playfair Display SC', serif;
font-family: 'Sevillana', cursive;

padding: 20px 20px 20px 500px;


}

.exp
  {
	font-family: 'Playfair Display SC', serif;
font-family: 'Sevillana', cursive;

padding: 20px 20px 20px 100px;


}

.edu
  {
	font-family: 'Playfair Display SC', serif;
font-family: 'Sevillana', cursive;

padding: 20px 20px 20px 350px;


}


.inicio
  {
	font-family: 'Playfair Display SC', serif;
    
padding: 20px 20px 20px 420px;


}


.pres
  {
	font-family: 'Playfair Display SC', serif;
font-family: 'Sevillana', cursive;

padding: 20px 20px 20px 20px;


}

.btn1 {
	padding: 20px 20px 20px 620px;
}

